nav.navbar
  div.container
    //Brand and toggle get grouped for better mobile display
    div.navbar-header
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-ex1-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.logo(href='#')
        img.img-responsive.logo__img(src='img/logo/logo.png' alt='logo')
    // Collect the nav links, forms, and other content for toggling
    div.collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.nav-navbar
        li.nav-navbar__item.nav-navbar__item--active: a.nav-navbar__link(href='#') Link
        li.nav-navbar__item: a.nav-navbar__link(href='#') Link
      ul.nav.nav-navbar.navbar-right
        li.nav-navbar__item.nav-navbar__item--active: a.nav-navbar__link(href='#') Link
        li.nav-navbar__item: a.nav-navbar__link(href='#') Link