nav.navbar
  div.container
    //Brand and toggle get grouped for better mobile display
    div.navbar-header
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-ex1-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.logo(href='#')
        img.img-responsive.logo__img(src='img/logo/logo.png' alt='logo')
    // Collect the nav links, forms, and other content for toggling
    div.collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.nav-navbar
        each value, i in content.site.nav.links
          li.nav-navbar__item(class= {"nav-navbar__item--active": i === 0})
            a.nav-navbar__link(href= value.href)= value.displayName
      ul.nav.nav-navbar.navbar-right
         each value, i in content.site.navRight.links
          li.nav-navbar__item(class= {"nav-navbar__item--active": i === 0})
            a.nav-navbar__link(href= value.href)= value.displayName