nav.navbar
  div.container-fluid
    //Brand and toggle get grouped for better mobile display
    div.navbar-header
      button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      button
      a.logo(href="#")
    // Collect the nav links, forms, and other content for toggling
    div.collapse.navbar-collapse.navbar-ex1-collapse"
      ul.nav.navbar-nav
        li.active: a(href="#") Link
        li: a(href="#") Link
      ul.nav.navbar-nav.navbar-right
        li: a(href="#") Link