/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#jr_inner p {
  padding: 5px;
  margin: 0;
}

#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}

#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}

#jr_inner li a:hover {
  text-decoration: underline;
}

#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}

#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}

#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
.ic {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.ic:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}

/* form */
.text-danger {
  color: #b94a48;
  text-align: left;
}

.form-group.error .form-control {
  border-color: #b94a48;
}

[type=submit]:disabled {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

/* modal */
.modal {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

/* ---------------------------------------- */
/* H O M E    P A G E    S T Y L E          */
/* ---------------------------------------- */
.body {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
