mixin svg(className, name)
  svg(class="svg svg--" + name, class=className, version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", role='img')
    use(xlink:href='img/sprite.svg#' + name)
mixin un(check, exist)
  typeof check !== "undefined" ? undefined : exist
