
<!-- build:js js/bundle.min.js-->
<!-- jQuery-->
<script src="js/jquery.js"></script>
<!-- Bootstrap JavaScript-->
<script src="js/bootstrap.js"></script>
<!-- Old browsers reject JavaScript-->
<script src="js/jquery.reject.js"></script>
<!-- Validation Form JavaScript-->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>
<!-- Slick-Slider JavaScript-->
<script src="js/slick.js"></script>
<!-- Custom JavaScript-->
<script src="js/main.js"></script>
<!-- endbuild-->