doctype html
html(lang='ru' prefix='og: http://ogp.me/ns#')
  head
    title title
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')/

    // Meta SEO - Description, Keywords, Title
    meta(name='title' content='')/
    meta(name='description' content='')/
    meta(name='keywords' content='')/

    // Multilanguage localization
    link(rel='alternate' href='/' hreflang='x-default')/
    link(rel='alternate' href='/en/' hreflang='en')/
    link(rel='alternate' href='/ru/' hreflang='ru')/
    
    // Mobile viewport optimization
    meta(name='viewport' content='width=device-width, initial-scale=1')/
    meta(name='HandheldFriendly' content='true')/
    meta(name='MobileOptimized' content='320')/
    //[if IEMobile]><meta http-equiv='cleartype' content='on' /><![endif]

    // Replace favicon.ico and apple-touch-icon.png
    link(rel='shortcut icon' type='image/png' href='img/logo/favicon.png')
    link(rel='apple-touch-icon' type='image/png' href='img/logo/apple-touch-icon.png')

    // Disables automatic  of possible phone numbers and address in Safari on iOS
    meta(name='format-detection' content='telephone=no')/
    meta(name='format-detection' content='address=no')/

    // Microformats Open Graph
    meta(property='og:title' content='My Site')/
    meta(property='og:site_name' content='My Site')/
    meta(property='og:description' content='My Site is cool')/
    meta(property='og:type' content='website')/
    meta(property='og:locale' content='ru_RU')/
    meta(property='og:locale:alternate' content='en_US')/
    meta(property='og:image' content='img/logo/microformat.png')/
    meta(property='og:image:type' content='image/png')/
    meta(property='og:url' content='http://url.com')/

    // Microformats Twitter Cards
    meta(name='twitter:card' content='summary')/
    meta(name='twitter:site' content='@flickr')/
    meta(name='twitter:title' content='My Site')/
    meta(name='twitter:description' content='My Site is cool')/
    meta(name='twitter:image' content='img/logo/microformat.png')/
    
    // build:css css/bundle.min.css

    // Bootstrap CSS
    link(rel='stylesheet' href='css/fonts.css')
    link(rel='stylesheet' href='css/bootstrap.css')
    // Font-Awesome CSS
    link(rel='stylesheet' href='css/font-awesome.css')
    block styles
    // Custom CSS 
    link(rel='stylesheet' href='css/style.css')

    // endbuild

    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  body.body
    div.wrapper
      block content
    footer.footer
      block footer

    // build:js js/bundle.min.js

    //Modernizr JavaScript
    script(src='js/modernizr-custom.js')
    // jQuery
    script(src='js/jquery.js')
    // Bootstrap JavaScript
    script(src='js/bootstrap.js')
    // Old browsers reject JavaScript
    script(src='js/jquery.reject.js')
    block scripts
    // Slick-Slider JavaScript
    script(src='js/slick.js')
    // Custom JavaScript
    script(src='js/main.js')

    // endbuild