.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-advertising {
  font-size:(59/10)*1rem;
  width:(59/59)*1em;
}
.icon-art {
  font-size:(51/10)*1rem;
  width:(52/51)*1em;
}
.icon-books {
  font-size:(51/10)*1rem;
  width:(50/51)*1em;
}
.icon-camera {
  font-size:(54/10)*1rem;
  width:(54/54)*1em;
}
.icon-cashbox {
  font-size:(50/10)*1rem;
  width:(52/50)*1em;
}
.icon-check {
  font-size:(424.11/10)*1rem;
  width:(424.11/424.11)*1em;
}
.icon-cup {
  font-size:(51/10)*1rem;
  width:(50/51)*1em;
}
.icon-doc {
  font-size:(50/10)*1rem;
  width:(44/50)*1em;
}
.icon-earth {
  font-size:(50/10)*1rem;
  width:(56/50)*1em;
}
.icon-entertainment {
  font-size:(50/10)*1rem;
  width:(71/50)*1em;
}
.icon-facebook {
  font-size:(24/10)*1rem;
  width:(14/24)*1em;
}
.icon-finance {
  font-size:(50/10)*1rem;
  width:(50/50)*1em;
}
.icon-google-plus {
  font-size:(15/10)*1rem;
  width:(23/15)*1em;
}
.icon-house {
  font-size:(51/10)*1rem;
  width:(50/51)*1em;
}
.icon-instagram {
  font-size:(23/10)*1rem;
  width:(23/23)*1em;
}
.icon-internet {
  font-size:(51/10)*1rem;
  width:(51/51)*1em;
}
.icon-monitoring {
  font-size:(50/10)*1rem;
  width:(61/50)*1em;
}
.icon-other {
  font-size:(50/10)*1rem;
  width:(50/50)*1em;
}
.icon-other2 {
  font-size:(50/10)*1rem;
  width:(50/50)*1em;
}
.icon-outsourcing {
  font-size:(50/10)*1rem;
  width:(59/50)*1em;
}
.icon-prevention {
  font-size:(49/10)*1rem;
  width:(49/49)*1em;
}
.icon-screen {
  font-size:(46/10)*1rem;
  width:(62/46)*1em;
}
.icon-setting {
  font-size:(47/10)*1rem;
  width:(48/47)*1em;
}
.icon-shop {
  font-size:(51/10)*1rem;
  width:(60/51)*1em;
}
.icon-sport {
  font-size:(50/10)*1rem;
  width:(44/50)*1em;
}
.icon-stethoscope {
  font-size:(51/10)*1rem;
  width:(44/51)*1em;
}
.icon-studying {
  font-size:(48/10)*1rem;
  width:(48/48)*1em;
}
.icon-telephone {
  font-size:(55/10)*1rem;
  width:(55/55)*1em;
}
.icon-telephony {
  font-size:(50/10)*1rem;
  width:(50/50)*1em;
}
.icon-treaty {
  font-size:(46/10)*1rem;
  width:(34/46)*1em;
}
.icon-tv {
  font-size:(50/10)*1rem;
  width:(57/50)*1em;
}
.icon-twitter {
  font-size:(21/10)*1rem;
  width:(26/21)*1em;
}
.icon-web {
  font-size:(52/10)*1rem;
  width:(55/52)*1em;
}
.icon-whatsapp {
  font-size:(23/10)*1rem;
  width:(23/23)*1em;
}
.icon-wifi {
  font-size:(52/10)*1rem;
  width:(66/52)*1em;
}
