//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$preloader-bg: #17607d
$preloader-color: #fff

$font-sans-serif: sans-serif
$main-font: '', $font-sans-serif

//== Buttons
//
//## For each buttons, define text, background and border color.

$btn-default-color:              #333
$btn-default-bg:                 #fff
$btn-default-border:             #ccc