extends base/_layout.pug
block variables

block styles

block scripts

block content
  include components/_nav.pug
block footer
  include partials/_footer.pug
block modal
  include partials/_modal.pug
